body {
    background-color: tan;
    margin: 0;
    padding: 0;
    font-family: "Calibri", sans-serif;
}

.header-img {
    padding-top: 45px;
    background-image: url("images/header_img.jpg");
    height: 100px;
    width: 100%;
    max-width: 100%;
}

h1 {
    padding-left: 25px;
    padding-top: 35px;
    color: white;
}

.title-img {
    background-image: url("images/background-img/fellowship.jpg");
    margin-top: 55px;
    height: auto;
}

.block {
    display: block;
    background-color: tan;
    border-color: black;
    height: auto;
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.pg-heading {
    color: white; 
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

h2 {
    text-align: center;
    color: white;
    padding: 10px;
}

img {width: 75%;}

table, th, td {
  border:1px solid black;
  margin: 50px;
  width: 50%;
}

.top-table {
    background-color: #4f0079;
    color: lightgrey;
}

.table-flex {display: flex;}

.normal-width {
    width: 50%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.table-desc {
    width: 50%;
    margin-right: 15px;
    margin-top: 200px;
    line-height: 1.6;
}
figcaption {
    margin: 25px;
    width: 30%;
    height: auto;
}

figure {
    display: flex;
    padding-top: 25px;
    padding-bottom: 35px;
    height: 400px;
}

nav {
    height: auto;
    width: 100%;
    max-width: 100%;
    float: left;
    word-spacing: 5px;
    background-image: linear-gradient(grey, #fff);
}

nav a:link {
  text-decoration: none;
  color:black;
}

nav a:visited {
  text-decoration: none;
  color:black;
}

nav a:hover {
  text-decoration: none;
  color:red;
}

nav a:active {
  text-decoration: none;
  color:red;
}

li {display: inline-block;}

.button {
    border-bottom: solid;
    border-top: none;
    border-right: none;
    border-left: none;
    padding: 10px;
    background: transparent;
    font-size: 15px;
}

.button:hover {border-bottom: #fff;}

/*  .text-box {
    width: 90%;
    color:  #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);   
}*/

.pg-heading h1 {font-size: 46px;}

.text-box {
    text-align: center;
    padding: 5px;
    font-size: 25px;
    color: #fff;
}

.click-box {
    display:inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    cursor: pointer;
    margin-left: 475px;
}

.click-box:hover{
    border:1px solid #f44336;
    transition: 1s;
}