*{
margin:0;
padding:0;
}

body {
    font-family: Garamond;
    background-color: #FCEDCF;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(images/ringmap1.webp);
    background-position: center;
    background-size: cover;
    position: relative;
    }

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;      
}

nav img{
    width: 300px;
}
  

.nav-links{
    flex:1;
    text-align: right;
      
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 20px;
    position: relative;
    
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s; 
}

.nav-links ul li:hover::after{
    width: 100%;
}
.text-box {
    width: 90%;
    color:  #fff;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    
    
}
 .text-box h1 {
    font-size: 46px;
     
}
.text-box p {
    margin: 10px 0 40px;
    font-size: 25px;
    color: #fff;
}

.click-box{
    display:inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    position:relative;
    cursor: pointer;
     
}

.click-box:hover{
    border:1px solid #f44336;
    transition: 1s;
}
nav .fa{
    display:none;
}

 @media(max-width: 700px){
     .text-box h1 {
    font-size: 70px;
    }
    .nav-links ul li{
        display: block;
        
    }
    .nav-links {
        position:absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
        
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
 }

.TextData {
   color: rgba(15, 15, 77, 1); 
    
}
.Method {
    color: rgba(15, 15, 77, 1);
    
}

.Results {
   color: rgba(15, 15, 77, 1); 
    
}

.Conclusion {
    color: rgba(15, 15, 77, 1);
    
}

