body {
    background-color: tan;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image:
    linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/LOTR-LOGO.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    }